@font-face {
  font-family: Calibri;
  src: url('../fonts/calibri.eot');
  src: local('☺'), url('../fonts/calibri.woff') format('woff'), url('../fonts/calibri.otf') format('otf'), url('../fonts/calibri.ttf') format('truetype'), url('../fonts/calibri.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Calibrib;
  src: url('../fonts/calibrib.eot');
  src: local('☺'), url('../fonts/calibrib.woff') format('woff'), url('../fonts/calibrib.otf') format('otf'), url('../fonts/calibrib.ttf') format('truetype'), url('../fonts/calibrib.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Calibribi;
  src: url('../fonts/calibribi.eot');
  src: local('☺'), url('../fonts/calibribi.woff') format('woff'), url('../fonts/calibribi.otf') format('otf'), url('../fonts/calibribi.ttf') format('truetype'), url('../fonts/calibribi.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Calibrii;
  src: url('../fonts/calibrii.eot');
  src: local('☺'), url('../fonts/calibrii.woff') format('woff'), url('../fonts/calibrii.otf') format('otf'), url('../fonts/calibrii.ttf') format('truetype'), url('../fonts/calibrii.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.response-video {
  position: relative;
}

.response-video::after {
  content: '';
  display: block;
  height: 0;
  padding-bottom: 56.25%;
}

.response-video iframe,
.response-video object,
.response-video video {
  display: block;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fz18,
body,
.btn1,
.form__input,
.form__submit,
.phone__link,
.nav__link {
  font-size: 18px;
}

.fz20,
.form__desc {
  font-size: 20px;
}

/*  БАЗОВЫЕ НАСТРОЙКИ  */

body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
}

html {
  font-size: 18px;
}

body {
  font-family: Calibri, Tahoma, sans-serif;
  line-height: 1.35;
  color: #212121;
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  max-height: 100000px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

strong {
  font-family: Calibrib, Tahoma, sans-serif;
}

em {
  font-family: Calibrii, Tahoma, sans-serif;
}

em strong,
strong em {
  font-family: Calibribi, Tahoma, sans-serif;
}

.main-page {
  min-height: 80vh;
  min-width: 320px;
  overflow: hidden;
}

.container {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 15px;
}

.text-center {
  text-align: center;
}

.d-ib {
  display: inline-block;
}

.box-btn {
  text-align: center;
}

.btn1 {
  display: inline-block;
  width: 100%;
  max-width: 200px;
  padding: 15px 15px 16px;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background: green;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  font-family: Calibri, Tahoma, sans-serif;
  line-height: 1.2;
  color: #fff;
}

.btn1:hover {
  background: #004d00;
  text-decoration: none;
}

.desc-1 {
  text-align: center;
  font: 2rem/1.2 Calibrib, Tahoma, sans-serif;
  color: #212121;
}

/*  ФОРМА  */

.form {
  padding: 30px 20px;
}

.form__modal {
  text-align: center;
}

.form__desc {
  font-family: Calibrib, Tahoma, sans-serif;
  line-height: 1.2;
  color: #212121;
  margin-bottom: 15px;
}

.form__box-input {
  max-width: 400px;
  margin: 0 auto 12px;
}

.form__box-submit {
  max-width: 400px;
  margin: 0 auto 12px;
}

.form__input {
  width: 100%;
  display: inline-block;
  font-family: Calibri, Tahoma, sans-serif;
  color: #212121;
  padding: 7px 10px 8px;
  border: 1px solid #212121;
  background: #fff;
}

.form__submit {
  width: 100%;
  border: none;
}

.form__submit[disabled] {
  background: #004d00;
}

/*  МОДАЛЬНОЕ ОКНО  */

.modal {
  position: relative;
  width: 350px;
  margin: 40px auto;
  background: #fff;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/*  ШАПКА  */

.header,
.footer {
  padding: 15px 0 15px;
}

.header__container,
.footer__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left,
.footer__left {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 200px;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
}

.header__center,
.footer__center {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 400px;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
}

.header__right,
.footer__right {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 200px;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
}

.logo {
  max-width: 200px;
}

.phone {
  text-align: right;
}

.phone__link {
  font-family: Calibri, Tahoma, sans-serif;
  color: #212121;
  text-decoration: none;
}

.phone__link:hover {
  text-decoration: none;
}

/*  НАВИГАЦИЯ  */

.nav {
  padding: 10px 0;
  list-style: none;
  text-align: justify;
  font-size: 0;
}

.nav::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 0;
}

.nav__item {
  display: inline-block;
  padding: 0 5px;
}

.nav__link {
  display: inline-block;
  text-decoration: none;
  font-family: Calibri, Tahoma, sans-serif;
  color: #212121;
}

/*  ПЕРВЫЙ ЭКРАН  */

.top-screen {
  padding: 70px 0 70px;
  background: url('../img/bcg1.jpg') center top no-repeat;
  background-size: cover;
}

.top-screen__video {
  max-width: 700px;
  margin: 40px auto;
  position: relative;
}

.top-screen__video::after {
  content: '';
  display: block;
  height: 0;
  padding-bottom: 56.25%;
}

.top-screen__video iframe,
.top-screen__video object,
.top-screen__video video {
  display: block;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*  ПОДВАЛ  */

@media screen and (max-width: 960px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 780px) {
  .fz18,
  body,
  .btn1,
  .form__input,
  .form__submit,
  .phone__link,
  .nav__link {
    font-size: 16px;
  }

  .fz20,
  .form__desc {
    font-size: 18px;
  }

  .header__container,
  .footer__container {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}

@media screen and (max-width: 560px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 425px) {
  .modal {
    width: 290px;
  }
}